@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
}

.pokedex {
  min-width: 770px;
  max-width: 980px;
  height: 350px;
  background-color: red;
  border: 6px solid #000;
  margin: 50px;
  display: flex;
  align-items: center;
}

.pokedex-left {
  width: 50%;
  height: 100%;
  border-right: 6px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poke-marco {
  width: 200px;
  height: 200px;
  border-radius: 0 0 0 20px;
  background-color: white;
  padding: 20px 20px 35px 20px;
  border: 3px solid black;
}

.poke-imagen {
  border: 3px solid black;
  background-color: aquamarine;
  width: calc(100% - 12px);
  border-radius: 10px;
}

.pokemon-id {
  font-family: "Press Start 2P", cursive;
  text-align: end;
  font-size: 16px;
  margin-right: 5px;
  margin-top: 7px;
}

.pokedex-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.poke-info {
  width: 80%;
  height: 40%;
  background-color: lightgray;
  border: 3px solid black;
  border-radius: 5px;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
  margin-top: 5px;
  gap: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numbers {
  width: 80%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.number {
  width: 18%;
  height: 48%;
  background-color: lightblue;
  border: 2px solid black;
  border-radius: 5px;
  font-family: "Press Start 2P", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flechas-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.flechas {
  width: 40%;
  height: 50px;

  display: flex;
  font-size: 25px;
}

.flecha-izquierda,
.flecha-derecha {
  width: 45%;
  height: 100%;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.id-search {
  height: 80%;
  width: 20%;
  font-family: "Press Start 2P", cursive;
  text-align: center;
}

.search-button {
  background-color: yellow;
  border: 2px solid grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.flecha-izquierda,
.flecha-derecha,
.search-button:hover {
  cursor: pointer;
}
